{% assign tableItems = include.items | split: ", " %}
{% assign tableFileParam = {{include.file}} %}
{% assign tableFile = site.data[tableFileParam] %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js""></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

                               
 <div class="container">
                                                                      
<font size="2" >

<div id="app">
  <table id="example" class="table table-striped table-sm table-resonsive" style="width:100%" v-if="movies.length">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="movie in movies">
        <td>{{movie.Title}}</td>
        <td>{{movie.Year}}</td>
        <td><a :href="movie.Url" target="_blank">{{movie.Url}}</a></td>
      </tr>
    </tbody>
  </table>
</div>             
              
              
<table id="example" class="table table-striped table-sm table-resonsive" style="width:100%">
  <thead>
           <tr>
            <th class="th-sm">Id</th>
            <th class="th-sm">Scientific Name</th>
            <th class="th-sm">Common Name</th>
            <th class="th-sm">PB</th>
            <th class="th-sm">BN</th>
            <th class="th-sm">HiC</th>
            <th class="th-sm">draft</th>
            <th class="th-sm">final</th>
            <th class="th-sm">link</th>
        </tr>
  </thead>
  
     <tbody>
    {% for entry in site.data.project_stats_vgl.toc %}
        <tr>
          <td>{{ entry.VGPId }}</td/>
          <td><i>{{ entry.scientific }}</i></td>
          <td>{{ entry.common }}</td/>
          <td align="center"><img src="assets\img\{{ entry.PB }}.png" width="15" height="15"/></td>
          <td align="center"><img src="assets\img\{{ entry.BN }}.png" width="15" height="15"/></td>
          <td align="center"><img src="assets\img\{{ entry.HiC }}.png" width="15" height="15"/></td>
          <td align="center"><img src="assets\img\{{ entry.draft }}.png" width="15" height="15"/></td>
          <td align="center"><img src="assets\img\{{ entry.final }}.png" width="15" height="15"/></td>
          <td><a href="{{ entry.url }}">link</a></td>
        </tr>
    {% endfor %}
    </tbody>
  <tfoot>
    <tr>
            <th>Id</th>
            <th>Scientific Name</th>
            <th>Common Name</th>
            <th>PB</th>
            <th>BN</th>
            <th>HiC</th>
            <th>draft</th>
            <th>final</th>
            <th>link</th>
    </tr>
  </tfoot>
</table>
</font>
</div>

<script>
const moviesUrl =
  "https://docs.google.com/spreadsheets/d/e/2PACX-1vTtKbv_S8Fdo3HLhm64Tc94WZ6FuqtzqePIjuejNFJxKkUvAE8JF8V2KgKoz1n5jQUDfL8A3F-QoDWk/pub?gid=0&single=true&output=csv";

const app = new Vue({
  el: "#app",
  data: function () {
    return {
      movies: [],
    };
  },
  created: function () {
    movies=this.fetchMovies();
    console.log(movies);
  },
  methods: {
    fetchMovies() {
      const _this=this;
      Papa.parse(moviesUrl, {
        download: true,
        header: true,
        dynamicTyping: true,
        complete: function(results){_this.movies = results.data;}
      });
     console.log("A");
     console.log(_this.movies);
     console.log(this.movies);
    }

  }
});



                               
 $(document).ready(function() {
    $('#example').DataTable();
} );
     
</script>
