{% assign tableItems = include.items | split: ", " %}
{% assign tableFileParam = {{include.file}} %}
{% assign tableFile = site.data[tableFileParam] %}

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
                                 
 <div class="container">         
    <label>NEW</label>
<div id="toolbar">
    <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio0" value="filter0" checked>
  <label class="form-check-label" for="inlineRadio1">All</label>
</div>
   
 <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="filter1">
  <label class="form-check-label" for="inlineRadio1">Phase 1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="filter2">
  <label class="form-check-label" for="inlineRadio2">Phase 2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="filter3">
  <label class="form-check-label" for="inlineRadio3">Phase 3</label>
</div>
   <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="filter4">
  <label class="form-check-label" for="inlineRadio4">Phase 4</label>
</div>
    </div>
    
<table id="table" class="table-sm" data-toggle="table" data-height="460" data-show-columns="true" data-search="true" data-pagination="true">
  <thead class="thead-light">
           <tr>
              <th data-visible="false" data-switchable="false">Score</th>
              <th data-visible="false" data-switchable="false">Source</th>
             <th>Id</th>
            <th>Scientific Name</th>
            <th>Common Name</th>
              <th data-visible="false">Class</th>
              <th data-visible="false">Order</th>
             <th data-visible="false">Family</th>
            <th>PB</th>
            <th>BN</th>
            <th>HiC</th>
            <th>10X</th>
            <th>Ilm</th>
            <th>asm</th>
             <th data-field="phase">Phase</th>
         </tr>
  </thead>
                                                
     <tbody>
    {% for entry in site.data.project_stats_vgl.toc %}
        <tr>             
           <td>{{ entry.score }}</td/>
           <td>{{ entry.source }}</td/>
           <td>{{ entry.VGPId }}</td/>
           <td><i>{{ entry.scientific }}</i></td>
          <td>{{ entry.common }}</td/>
             <td>{{ entry.classes }}</td/>
    <td>{{ entry.orders }}</td/>
<td>{{ entry.families }}</td/>
          {% if entry.links.PB == "#" %}
                   <td><img src="assets\img\{{ entry.techs.PB }}.png" width="15" height="15"/></td>
          {% else %}
                    <td><a href="{{ entry.links.PB }}" target="_blank"><img src="assets\img\{{ entry.techs.PB }}.png" width="15" height="15"/></a></td>
           {% endif %}   
           
           {% if entry.links.BN == "#" %}
                   <td ><img src="assets\img\{{ entry.techs.BN }}.png" width="15" height="15"/></td>
          {% else %}
                    <td><a href="{{ entry.links.BN }}" target="_blank"><img src="assets\img\{{ entry.techs.BN }}.png" width="15" height="15"/></a></td>
           {% endif %} 
           
           {% if entry.links.HiC == "#" %}
                   <td><img src="assets\img\{{ entry.techs.HiC }}.png" width="15" height="15"/></td>
          {% else %}
                    <td><a href="{{ entry.links.HiC }}" target="_blank"><img src="assets\img\{{ entry.techs.HiC }}.png" width="15" height="15"/></a></td>
           {% endif %} 
           
             {% if entry.links.10X == "#" %}
                   <td style="text-align: center;"><img src="assets\img\{{ entry.techs.10X }}.png" width="15" height="15"/></td>
          {% else %}
                    <td><a href="{{ entry.links.10X }}" target="_blank"><img src="assets\img\{{ entry.techs.10X }}.png" width="15" height="15"/></a></td>
           {% endif %} 
           
            {% if entry.links.Ilm == "#" %}
                   <td><img src="assets\img\{{ entry.techs.Ilm }}.png" width="15" height="15"/></td>
          {% else %}
                    <td><a href="{{ entry.links.Ilm }}" target="_blank"><img src="assets\img\{{ entry.techs.Ilm }}.png" width="15" height="15"/></a></td>
           {% endif %}
           
           {% if entry.links.asm == "#" %}
                  <td><img src="assets\img\{{ entry.asm }}.png" height="15"/></td>
          {% else %}
                    <td><a href="{{ entry.links.asm }}" target="_blank"><img src="assets\img\{{ entry.asm }}.png" height="15"/></a></td>
           {% endif %}
          <td>{{ entry.VGPphase }}</td/> 
         </tr>
    {% endfor %}
    </tbody>

</table>
 <small><i>Last updated: {{ site.data.project_stats_vgl.info }}</i></small>
</div>

     <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<script>
   var $table = $('#table')
   var $inlineRadio1 = $('#inlineRadio0')
   var $inlineRadio1 = $('#inlineRadio1')
   var $inlineRadio2 = $('#inlineRadio2')
   var $inlineRadio3 = $('#inlineRadio3')
   var $inlineRadio4 = $('#inlineRadio34')
 
  $(function() {
     
     $table.bootstrapTable('refreshOptions', {})
    
     $inlineRadio1.click(function () {
      $table.bootstrapTable('filterBy', {
        phase: ["phase1","phase2","phase3","phase4","0"]
      }) })

     $inlineRadio1.click(function () {
      $table.bootstrapTable('filterBy', {
        phase: ["phase1"]
      }) })

$inlineRadio2.click(function () {
      $table.bootstrapTable('filterBy', {
        phase: ["phase1","phase2"]
      }) })


$inlineRadio3.click(function () {
      $table.bootstrapTable('filterBy', {
        phase: ["phase1","phase2","phase3"]
      }) })

     $inlineRadio4.click(function () {
      $table.bootstrapTable('filterBy', {
        phase: ["phase1","phase2","phase3","phase4"]
      }) })
    })
</script>
                        
