{% assign tableItems = include.items | split: ", " %}
{% assign tableFileParam = {{include.file}} %}
{% assign tableFile = site.data[tableFileParam] %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
{{include.file}}
 <div class="container">         
<small>
    <style>
#select {
  width: 110px;
  display: inline-block;
  font-size: 12px;
}
</style>
<div class="toolbar">
  <select id="select" class="form-control" name="filterAlgorithm">
    <option value="vgl" selected>VGL</option>
    <option value="phase1">VGP Phase 1</option>
    <option value="phase2">VGP Phase 2</option>
    <option value="phase3">VGP Phase 3</option>
    <option value="phase4">VGP Phase 4</option>
  </select>
</div>
<table id="table" data-sort-name="status" data-sort-order="desc" class="table table-sm" data-toolbar=".toolbar" data-pagination="true" data-page-size="20" data-search="true" data-search-align="right" data-show-columns="true" data-sort-name="status" data-sort-order="asc">
  <thead class="thead-light">
           <tr>
              <th data-visible="false" data-switchable="false" data-sortable="true" data-field="source">Source</th>
             <th data-width="80">Id</th>
            <th data-width="150">Scientific Name</th>
            <th data-width="150">Common Name</th>
              <th data-visible="false" data-switchable="false">Class</th>
              <th data-visible="false"data-sortable="true">Order</th>
             <th data-visible="false" data-sortable="true">Family</th>
            <th data-width="20" data-halign="center" data-sortable="true">PB</th>
            <th data-width="20" data-halign="center" data-sortable="true">BN</th>
            <th data-width="20" data-halign="center" data-sortable="true">HiC</th>
            <th data-width="20" data-halign="center" data-sortable="true">10X</th>
            <th data-width="20" data-halign="center" data-sortable="true">Ilm</th>
            <th data-width="150" data-halign="center" data-sortable="true">Status</th>
             <th data-visible="false" data-switchable="false" data-field="phase">Phase</th>
         </tr>
  </thead>
                                                
     <tbody>
    {% for entry in site.data.project_stats_vgl.toc %}
        <tr>             
           <td>{{ entry.hub }}</td/>
           <td>{{ entry.vglId }}</td/>
           <td><i>{{ entry.scientific_name }}</i></td>
          <td>{{ entry.common_name }}</td/>
             <td>{{ entry.class }}</td/>
    <td>{{ entry.order }}</td/>
<td>{{ entry.family }}</td/>
   {% if entry.techs.PB.url == "#" %}
                   <td style="text-align: center;"  data-order="{{ entry.techs.PB.status }}"><img src="assets\img\{{ entry.techs.PB.status }}.png" width="15" height="15"/></td>
          {% else %}
                    <td style="text-align: center;" data-order="{{ entry.techs.PB.status }}"><a href="{{ entry.techs.PB.url }}" target="_blank"><img src="assets\img\{{ entry.techs.PB.status }}.png" width="15" height="15"/></a></td>
           {% endif %}   
           
           {% if entry.techs.BN.url == "#" %}
                   <td style="text-align: center;" data-order="{{ entry.techs.BN.status }}"><img src="assets\img\{{ entry.techs.BN.status }}.png" width="15" height="15"/></td>
          {% else %}
                   <td style="text-align: center;" data-order="{{ entry.techs.BN.status }}"><a href="{{ entry.techs.BN.url }}" target="_blank"><img src="assets\img\{{ entry.techs.BN.status }}.png" width="15" height="15"/></a></td>
           {% endif %} 
           
           {% if entry.techs.HiC.url == "#" %}
                   <td style="text-align: center;" data-order="{{ entry.techs.HiC.status }}"><img src="assets\img\{{ entry.techs.HiC.status }}.png" width="15" height="15"/></td>
          {% else %}
                    <td style="text-align: center;" data-order="{{ entry.techs.HiC.status }}"><a href="{{ entry.techs.HiC.url }}" target="_blank"><img src="assets\img\{{ entry.techs.HiC.status }}.png" width="15" height="15"/></a></td>
           {% endif %} 
           
             {% if entry.techs.10X.url == "#" %}
                   <td style="text-align: center;" data-order="{{ entry.techs.10X.status }}"><img src="assets\img\{{ entry.techs.10X.status }}.png" width="15" height="15"/></td>
          {% else %}
                    <td style="text-align: center;" data-order="{{ entry.techs.10X.status }}"><a href="{{ entry.techs.10X.url }}" target="_blank"><img src="assets\img\{{ entry.techs.10X.status }}.png" width="15" height="15"/></a></td>
           {% endif %} 
           
            {% if entry.techs.Ilm.url == "#" %}
                   <td style="text-align: center;" data-order="{{ entry.techs.Ilm.status }}"><img src="assets\img\{{ entry.techs.Ilm.status }}.png" width="15" height="15"/></td>
          {% else %}
                    <td style="text-align: center;" data-order="{{ entry.techs.Ilm.status }}"><a href="{{ entry.techs.Ilm.url }}" target="_blank"><img src="assets\img\{{ entry.techs.Ilm.status }}.png" width="15" height="15"/></a></td>
           {% endif %}
           
           {% if entry.asm == "#" %}
                   <td style="text-align: center;" data-order="{{ entry.status }}"><img src="assets\img\{{ entry.status }}.png" width="15" height="15"/></td>
          {% else %}
                    <td style="text-align: center;" data-order="{{ entry.status }}"><a href="{{ entry.asm }}" target="_blank"><img src="assets\img\{{ entry.status }}.png" width="15" height="15"/></a></td>
           {% endif %}
          <td>{{ entry.vgp_phase }}</td/> 
         </tr>
    {% endfor %}
    </tbody>

</table>

<i>Last updated: {{ site.data.project_stats_vgl.info }}</i></small>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
   <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>

 <script>
   var $table = $('#table')

	
 $(function() {
    $('#table').bootstrapTable()
    });
   
   $(document).ready(function(){
   $table.bootstrapTable('filterBy', {source: ["vgl"]})
   });
   
    $("#select").on("change",function(){
        //Getting Value
        var selValue = $("#select").val();
        //Setting Value
        if(selValue=="vgl"){
        $table.bootstrapTable('filterBy', {source: ["vgl"]})
        }
    else
        {
            if(selValue=="phase1"){
                $table.bootstrapTable('filterBy', {phase: ["phase1"]})
                }
            if(selValue=="phase2"){
                $table.bootstrapTable('filterBy', {phase: ["phase1","phase2"]})
            }
            if(selValue=="phase3"){
                $table.bootstrapTable('filterBy', {phase: ["phase1","phase2","phase3"]})
            }
            if(selValue=="phase4"){
                $table.bootstrapTable('filterBy', {phase: ["phase1","phase2","phase3","phase4"]})
            }
        }
    });   
    
function hiddenSorter(a, b) {
	return a.sortvalue < b.sortvalue ? -1 : (a.sortvalue > b.sortvalue ? 1 : 0)
}

</script>

                        
