<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  {% seo %}

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>

{% include navbar.html %}
    <br>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
  {{ content }}
      </section>
   </div>
    <br><br>
  <div class="container">
      <font size="2" >
      <div class="row">
    <div class="col-sm"> 
            <table class="table table-sm">
                <tbody>
    <tr>
        <th class="th-sm">Pending</th>
        <td style="text-align: left;"><img src="assets\img\0.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th class="th-sm" >Done</th>
        <td style="text-align: left;"><img src="assets\img\1.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th class="th-sm">In progress</th>
        <td style="text-align: left;"><img src="assets\img\2.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th  class="th-sm">Failed</th>
        <td style="text-align: left;"><img src="assets\img\3.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th  class="th-sm">N/A</th>
        <td style="text-align: left;"><img src="assets\img\4.png" width="15" height="15"/></td>
    </tr>
  </tbody>
                </table>
    </div>
    <div class="col-sm"> 
            <table class="table table-sm">
                <tbody>
    <tr>
        <th  class="th-sm">PB</th>
        <td>PacBio (CLR or Hifi)</td>
    </tr>
          <tr>
        <th  class="th-sm">BN</th>
        <td >Bionano optical maps</td>
    </tr>
                   <tr>
        <th  class="th-sm">HiC</th>
        <td >Hi-C (Chromatin Conformation Capture)</td>
    </tr>
                                       <tr>
        <th  class="th-sm">10X</th>
        <td>10X Genomics linked-reads</td>
    </tr>
                                                <tr>
        <th  class="th-sm">Ilm</th>
        <td>Illumina shotgun sequencing</td>
    </tr>
  </tbody>
                </table>
    </div>
          </div></div>
</body>
</html>
