<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.scss' | append: site.github.build_revision | relative_url }}">
  <title>{{ page.title }} - {{ site.title }}</title>
  {% seo %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
</head>

<body>
{% include navbar.html %}
    <br>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
  {{ content }}
      </section>
    </div>
    <br><br>
  <div class="container">
      <font size="2" >
      <div class="row">
    <div class="col-sm"> 
            <table class="table table-responsive-sm">
                <tbody>
    <tr>
        <th  class="th-sm" style="text-align: center">Pending</th>
        <td style="text-align: center;"><img src="assets\img\0.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th  class="th-sm"  style="text-align: center">Done</th>
        <td style="text-align: center;"><img src="assets\img\1.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th  class="th-sm"  style="text-align: center">In progress</th>
        <td style="text-align: center;"><img src="assets\img\2.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th  class="th-sm"  style="text-align: center">Failed</th>
        <td style="text-align: center;"><img src="assets\img\3.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th  class="th-sm"  style="text-align: center">N/A</th>
        <td style="text-align: center;"><img src="assets\img\4.png" width="15" height="15"/></td>
    </tr>
          <tr>
        <th  class="th-sm"  style="text-align: center">Exists</th>
        <td style="text-align: center;"><img src="assets\img\5.png" width="15" height="15"/></td>
    </tr>

  </tbody>
                </table>
    </div>
    <div class="col-sm"> 
            <table class="table table-responsive-sm">
                <tbody>
    <tr>
        <th  class="th-sm">PB</th>
        <td>PacBio (CLR or Hifi)</td>
    </tr>
          <tr>
        <th  class="th-sm">BN</th>
        <td >Bionano optical maps</td>
    </tr>
                   <tr>
        <th  class="th-sm">HiC</th>
        <td >Hi-C (Chromatin Conformation Capture)</td>
    </tr>
                                       <tr>
        <th  class="th-sm">10X</th>
        <td>10X Genomics linked-reads</td>
    </tr>
                                                <tr>
        <th  class="th-sm">Ilm</th>
        <td>Illumina shotgun sequencing</td>
    </tr>
  </tbody>
                </table>
    </div>
              <div class="col-sm">

    </div>
              <div class="col-sm">

  </div>
    </div></div>
</body>
</html>
